<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Video Online</title>
</head>
<body>

{% if wtpt=='wt' %}
    <a href="{{ url_for('download', file_name=filename) }}">Play</a><br><br>
    <a href="{{ url_for('download', file_name=filename) }}" download>Download</a>
{% elif wtpt=='pt' %}
    <a href="" download>Download</a>
{% elif wtpt=='fb' %}
    <a href="{{ url_for('download', file_name=filename) }}">Play</a><br><br>
    <a href="{{ url_for('download', file_name=filename) }}" download>Download</a>
{% endif %}
</body>
</html>